@model Fazzer.ViewModels.ProductIndexViewModel
@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Back to categories", "CategoryIndex" ,new { })
</p>
<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Sort Name", "CategoryView", new { id = Model.CategoryId, Sort = Model.SortName })
            </th>
            <th>
                @Html.ActionLink("Sort Price", "CategoryView", new { id = Model.CategoryId, Sort = Model.SortPrice })
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price Kr</td>

            <td>
                @Html.ActionLink("Edit", "ProductEdit", new { id = item.ProductId }) |
                @Html.ActionLink("View", "ProductView", new { id = item.ProductId })
            </td>
        </tr>
    }
</table>
